<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <style>
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: #f4f4f4;
        }
        .header div {
            display: flex;
            gap: 10px;
        }
        .body {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <% if (typeof message !== 'undefined') { %>
     <span><%= message %></span>
    <% } %>
    <div class="header">
        <div>
        <h3>navera solutions</h3>
        </div>
        <div>
            <% if (loggedIn) { %>
                <a href="/topSecret">top secret</a>
                <a href="/logout">log out</a>
            <% } else { %>
                <a href="/login"><button>Login</button></a>
                <a href="/register"><button>register</button></a>
            <% } %>
            
             
        </div>
    </div>
    <div class="body">
        <h1>home page</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed ad quae reprehenderit, quas, accusamus quos sapiente saepe expedita dolores nam veniam ea. Mollitia, impedit similique aspernatur magni perspiciatis nam consectetur.</p>
    </div>
</body>
</html>
